{% extends 'admin/index.html.twig' %}

{% block title %}Le Bestiaire _ admin images list{% endblock %}

{% block adminPageTitle %}Liste des images{% endblock %}

{% block adminContent %}
    <a href="{{ path('admin_images_create') }}">Créer</a>

    {% if images is defined and images|length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Image</th>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th>Supprimer</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for image in images %}
                    <tr>
                        <td><a href="{{ path('admin_images_edit', { slug: image.slug }) }}">{{ image.name }}</a></td>
                        <td>
                            <img
                                src="/uploads/bestiaire/images/{{ image.filename }}"
                                alt="{{ image.alt }}"
                                style="
                                    max-width: 100px;
                                    max-height: 100px;
                                    width: auto;
                                    height: auto;
                                "
                            >
                        </td>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <td><a href="{{ path('admin_images_delete', {id: image.id}) }}">Supprimer</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Il n'y a pas d'images enregistrées</p>
    {% endif %}
{% endblock %}
