{% extends 'base.html.twig' %}

{% block title %}Le bestiaire : monstre{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app_monster_style') }}
{% endblock %}

{% block body %}


    <h2>{{ monster.name }}</h2>
    <img src="/uploads/bestiaire/images/{{ monster.featuredImage.fileName }}"
        alt="{{ monster.featuredImage.alt }}"
        style="
            max-width: 200px;
            max-height: 200px;
            width: 100%;
            height: 100%;
        "
    >

    <nav class="monster-nav">
        <ul>
            <li class="monster-content-btn active" data-target="infos">Infos</li>
            <li class="monster-content-btn
                    {% if not monster.parents|length > 0 and not monster.children|length > 0 %} disabled{% endif %}
                "
                data-target="genealogy"
            >
                Généalogie
            </li>
            <li class="monster-content-btn" data-target="images">Images</li>
            <li class="monster-content-btn" data-target="comments">Commentaires ({{ monster.comments|length }})</li>
        </ul>
    </nav>

    <div id="monster-content">
        {% include '_layouts/monster-infos.html.twig' %}

        {% if monster.parents|length > 0 or monster.children|length > 0 %}
            {% include '_layouts/monster-genealogy.html.twig' %}
        {% endif %}

        {% include '_layouts/monster-images.html.twig' %}

        {{ include ('_layouts/comments.html.twig', { comments: monster.comments }) }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app_monster') }}
{% endblock %}
