{% extends 'base.html.twig' %}

{% block body %}


    <h2>{{ monster.name }}</h2>
    <img src="/uploads/bestiaire/images/{{ monster.featuredImage.fileName }}"
        alt="{{ monster.featuredImage.alt }}"
        style="
            max-width: 200px;
            max-height: 200px;
            width: 100%;
            height: 100%;
        "
    >

    <nav class="monster-nav">
        <ul>
            <li>Infos</li>
            <li>Généalogie</li>
            <li>Images</li>
            <li>Commentaires ({{ monster.comments|length }})</li>
        </ul>
    </nav>

    <div>
        {% include '_layouts/monster-infos.html.twig' %}

        {% if monster.parents|length > 0 or monster.children|length > 0 %}
            {% include '_layouts/monster-genealogy.html.twig' %}
        {% endif %}

        {% include '_layouts/monster-images.html.twig' %}

        {% if monster.comments|length > 0 %}
            {{ include ('_layouts/comments.html.twig', { comments: monster.comments }) }}
        {% endif %}
    </div>

{% endblock %}
