{% extends 'admin/index.html.twig' %}

{% block title %}Le Bestiaire _ admin monsters list{% endblock %}

{% block adminPageTitle %}Liste des monstres{% endblock %}

{% block adminContent %}
    <a href="{{ path('admin_monsters_create') }}">Créer</a>

    {% if monsters and monsters|length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Catégorie</th>
                    <th>Surnoms</th>
                    <th>Genre</th>
                    <th>Parents</th>
                    <th>Enfants</th>
                    <th>Date de naissance</th>
                    <th>Date d'arrivée</th>
                    <th>Date de départ</th>
                    <th>Raison du départ</th>
                    <th>Image représentative</th>
                    <th>Nombre d'images</th>
                    <th>Texte supplémentaire</th>
                    <th>Cossard</th>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th>Supprimer</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for monster in monsters %}
                    <tr>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td><a href="{{ path('admin_monsters_edit', { slug: monster.slug }) }}">{{ monster.name }}</a></td>
                        {% else %}
                            <td>{{ monster.name }}</td>
                        {% endif %}

                        <td>{{ monster.category.name }}</td>

                        <td>{% if monster.nicknames %}{{ monster.nicknames }}{% endif %}</td>

                        <td>{% if monster.gender %}{{ monster.gender }}{% endif %}</td>

                        <td>
                        {% if monster.parents %}
                            {% for parent in monster.parents %}
                                {{ parent.name }} <br>
                            {% endfor %}
                        {% endif %}
                        </td>

                        <td>
                        {% if monster.children %}
                            {% for child in monster.children %}
                                {{ child.name }} <br>
                            {% endfor %}
                        {% endif %}
                        </td>

                        <td>{% if monster.birthday %}{{ monster.birthday | date('d-m-Y') }}{% endif %}</td>

                        <td>{% if monster.arrivalDate %}{{ monster.arrivalDate | date('d-m-Y') }}{% endif %}</td>

                        <td>{% if monster.leavingDate %}{{ monster.leavingDate | date('d-m-Y') }}{% endif %}</td>

                        <td>{% if monster.reasonForLeaving %}{{ monster.reasonForLeaving }}{% endif %}</td>

                        {% if monster.featuredImage %}
                            <td>
                                <img
                                    src="/uploads/bestiaire/images/{{ monster.featuredImage.fileName }}"                                style="
                                    max-width:100px;
                                    max-height:100px;
                                    width:auto;
                                    height:auto;"
                                >
                            </td>
                        {% else %}
                            <td>Pas d'image représentative</td>
                        {% endif %}

                        <td>{% if monster.images %}{{ monster.images|length }}{% endif %}</td>

                        <td>
                            {% if monster.explanatoryText %}
                                {{  monster.explanatoryText|striptags|raw > 20
                                    ? monster.explanatoryText|striptags|raw|slice(0, 21)|split(' ')|slice(0, -1)|join(' ') ~ '…'
                                    : monster.explanatoryText|striptags|raw
                                }}
                            {% endif %}
                        </td>

                        <td>{% if monster.cossard %}Oui{% endif %}</td>

                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <td><a href="{{ path('admin_monsters_delete', { id: monster.id }) }}">Supprimer</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Il n'y a pas de monstres enregistrés.</p>
    {% endif %}
{% endblock %}
