{% extends 'admin/index.html.twig' %}

{% block title %}Le Bestiaire _ admin monsters list{% endblock %}

{% block adminPageTitle %}Liste des monstres{% endblock %}

{% block adminContent %}
    <a href="{{ path('admin_monsters_create') }}">Créer</a>

    {% if monsters and monsters|length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Catégorie</th>
                    <th>Image représentative</th>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th>Supprimer</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% if monsters.invalid is defined %}
                {% for notValidMonster in monsters.invalid %}
                    <tr>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td><a href="{{ path('admin_monsters_edit', { slug: notValidMonster.slug }) }}">{{ notValidMonster.name }}</a></td>
                        {% else %}
                            <td>{{ notValidMonster.name }}</td>
                        {% endif %}

                        <td>{{ notValidMonster.category.name }}</td>
                        <td>Pas d'image représentative</td>

                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <td><a href="{{ path('admin_monsters_delete', { id: notValidMonster.id }) }}">Supprimer</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
            {% if monsters.valid is defined %}
                {% for validMonster in monsters.valid %}
                    <tr>toto
                        {% if is_granted('ROLE_ADMIN') %}
                            <td><a href="{{ path('admin_categories_edit', { slug: validMonster.slug }) }}">{{ validMonster.name }}</a></td>
                        {% else %}
                            <td>{{ validMonster.name }}</td>
                        {% endif %}

                        <td>{{ validMonster.category.name }}</td>
                        <td>
                            <img
                                src="/uploads/bestiaire/images/{{ validMonster.featuredImage.fileName }}"                                style="
                                max-width:100px;
                                max-height:100px;
                                width:auto;
                                height:auto;"
                            >
                        </td>

                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <td><a href="{{ path('admin_categories_delete', { id: validMonster.id }) }}">Supprimer</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    {% else %}
        <p>Il n'y a pas de monstres enregistrés.</p>
    {% endif %}
{% endblock %}
