<div class="monster-content--sub-div" data-content="infos">
    {% if monster.category %}
        <h3>Catégorie :</h3>
        <p>{{ monster.category.name }}</p>
    {% endif %}

    {% if monster.gender %}
        <h3>Genre :</h3>
        <p>{{ monster.gender }}</p>
    {% endif %}

    {% if monster.nicknames %}
        <h3>surnoms :</h3>
        <p>{{ monster.nicknames }}</p>
    {% endif %}

    {% if monster.birthday %}
        <h3>Date de naissance :</h3>
        <p>{{ monster.birthday | date('d-m-Y') }}</p>
    {% endif %}

    {% if monster.arrivalDate %}
            <h3>Date d'arrivée' :</h3>
        <p>{{ monster.arrivalDate | date('d-m-Y') }}</p>
    {% endif %}

    {% if monster.leavingDate %}
        <h3>Date de départ :</h3>
        <p>{{ monster.leavingDate | date('d-m-Y') }}</p>
    {% endif %}

    {% if monster.reasonForLeaving %}
        <h3>Raison du départ :</h3>
        <p>{{ monster.reasonForLeaving }}</p>
    {% endif %}

    {% if monster.cossard %}
        <h3>Cossard :</h3>
        <p>{{ monster.cossard }}</p>
    {% endif %}

    {% if monster.explanatoryText %}
        <h3>Supplément :</h3>
        <div>{{ monster.explanatoryText }}</div>
    {% endif %}
</div>
