{% extends 'admin/index.html.twig' %}

{% block title %}Le Bestiaire _ admin category list{% endblock %}

{% block adminPageTitle %}Liste des catégories{% endblock %}

{% block adminContent %}
    <a href="{{ path('admin_categories_create') }}">Créer</a>

    {% if categories is defined and categories %}
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Image représentative</th>
                    <th>Commentaire</th>
                    <th>Nombre de monstres</th>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th>Supprimer</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td><a href="{{ path('admin_categories_edit', { slug: category.slug }) }}">{{ category.name }}</a></td>
                    {% else %}
                        <td>{{ category.name }}</td>
                    {% endif %}

                    {% if category.featuredImage %}
                        <td>
                            <img
                                src="/uploads/bestiaire/images/{{ category.featuredImage.fileName }}"
                                alt="{{ category.featuredImage.alt }}"
                                style="
                                    max-width: 100px;
                                    max-height: 100px;
                                    width: auto;
                                    height: auto;
                                "
                            >
                        </td>
                    {% else %}
                        <td>Pas d'image représentative</td>
                    {% endif %}

                    {% if category.explanatoryText is defined and category.explanatoryText %}
                        <td>{{  category.explanatoryText|striptags|raw > 20 ? category.explanatoryText|striptags|raw|slice(0, 21)|split(' ')|slice(0, -1)|join(' ') ~ '…' : category.explanatoryText|striptags|raw }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}

                    <td>{{ category.monsters|length }}</td>

                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <td><a href="{{ path('admin_categories_delete', { id: category.id }) }}">Supprimer</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Il n'y a pas de catégories enregistrées.</p>
    {% endif %}
{% endblock %}
