{% extends 'admin/index.html.twig' %}

{% block title %}Le Bestiaire _ admin category list{% endblock %}

{% block adminContent %}
    <h2>Liste des catégories</h2>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ message|raw }}</div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-error" role="alert">{{ message|raw }}</div>
    {% endfor %}

    <a href="{{ path('admin_categories_create') }}">Créer</a>

    {% if categories and categories|length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Remarque</th>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th>Supprimer</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% if categories.invalid is defined %}
                {% for notValidCategory in categories.invalid %}
                    <tr>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td><a href="{{ path('admin_categories_edit', { slug: notValidCategory.slug }) }}">{{ notValidCategory.name }}</a></td>
                        {% else %}
                            <td>{{ notValidCategory.name }}</td>
                        {% endif %}

                        <td>Pas d'image représentative</td>
                        
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <td><a href="{{ path('admin_categories_delete', { id: notValidCategory.id }) }}">Supprimer</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
            {% if categories.valid is defined %}
                {% for validCategory in categories.valid %}
                    <tr>toto
                        {% if is_granted('ROLE_ADMIN') %}
                            <td><a href="{{ path('admin_categories_edit', { slug: validCategory.slug }) }}">{{ validCategory.name }}</a></td>
                        {% else %}
                            <td>{{ validCategory.name }}</td>
                        {% endif %}

                        <td></td>

                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <td><a href="{{ path('admin_categories_delete', { id: validCategory.id }) }}">Supprimer</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    {% else %}
        <p>Il n'y a pas de catégories enregistrées.</p>
    {% endif %}
{% endblock %}
